<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>User name</th>
      <th>User phone</th>
      <th>Visiting date, time</th>
      <th>Barber</th>
      <th>Hair color</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |row|%>
      <tr>
        <td><%=row['id']%></td>
        <td><%=row['name']%></td>
        <td><%=row['phone']%></td>
        <td><%=row['datestamp']%></td>
        <td><%=row['barber']%></td>
        <td style="background-color: <%=row['color']%>;"><%=row['color']%></td>
      </tr>
    <%end%>
  </tbody>
</table>
